/* @import url("fontawesome-all.min.css"); */
/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic"); */
* {
    /* color: rgb(119, 119, 119); */
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#cdiv {
    height: 30vw;
    width: 50vw;
    border: solid blue 1px;
    margin: 1vh 0vw 1vh 0vw;

}
canvas {
    border: solid black 1px;
    /* size: 400px 500px; */
    width: 100%;
    height: 100%;
}
/* h1 { */
    /* margin: 3vh 1vw 3vh 5vw; */
/* } */
/* .icons, .copyright { */
body {
    margin: 3vh 1vw 3vh 3vw;

}


ul li {
    display: inline;
}
ul {
    overflow: auto;  
}
li {
  white-space:nowrap;
}
footer, .icons, .copyright {
    padding: 0 0 0 0;
}

#cmdbox {
    white-space: pre;
    overflow: hidden;
    overflow-wrap: normal;
    overflow-x:scroll;
    resize: none; 
    text-overflow: ellipsis;
    width: 50%; /*height: 69px;*/
}