/* @import url("fontawesome-all.min.css"); */


/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic"); */

* {
    /* color: rgb(119, 119, 119); */
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#cwrap {
    /* display: inline-block; */
    width: 100%;
    display: flex;
    flex-direction: row;
}

#cdiv {
    height: 30vw;
    width: 50vw;
    border: solid blue 1px;
    margin: 0vh 0vw 0vh 1vw;
    /* display: inline-block; */
    flex: 1 1 auto;
}

#huddiv {
    height: 30vw;
    /* width: 5vw; */
    border: solid purple 1px;
    margin: 0vh 0vw 0vh 0vw;
    /* display: inline-block; */
    flex: 1 1 auto;
}

#einspector {
    flex-direction: column;
    width: 15vw;
    border: solid cyan 1px;
}

#einspector>* {
    width: 95%;
    height: 3vw;
    border: solid blue 1px;
    cursor: help;
}

#einspector>div.globule.expanded {
    border: solid blueviolet 1px;
    height: 10vw;
    white-space: pre;
    padding-bottom: 5px;
    height: fit-content;
    /*fit to content*/
}

#einspector>div.globule.expanded>* {
    white-space: pre;
    cursor: pointer;
}

canvas {
    border: solid black 1px;
    /* size: 400px 500px; */
    width: 100%;
    height: 100%;
}


/* h1 { */


/* margin: 3vh 1vw 3vh 5vw; */


/* } */


/* .icons, .copyright { */

body {
    margin: 0;
}

code {
    font-family: Consolas, "courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

ul li {
    display: inline;
}

ul {
    overflow: auto;
}

li {
    white-space: nowrap;
}

footer,
.icons,
.copyright {
    padding: 0 0 0 0;
}

#cmdbox {
    white-space: pre;
    overflow: hidden;
    overflow-wrap: normal;
    overflow-x: scroll;
    resize: none;
    text-overflow: ellipsis;
    width: 50%;
    /*height: 69px;*/
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button {
    cursor: pointer;
}

.container {
    width: 92%;
    max-width: 1000px;
    min-width: 240px;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
}

.main-container {
    margin: auto;
}

.main-header {
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.menu {
    /* Style for the menu header */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.menu-header {
    font-size: x-large;
    padding: 10px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.menu-active {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-10px, 0.8em);
    /*10px: left padding in menu. 1em: approximate*/
}

.dropdown-content a {
    /* Style for the dropdown links */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content.show {
    display: block;
}

.dropdown-item:hover {
    /* Style for the dropdown links on hover */
    background-color: #f1f1f1;
}

.dropdown-item.active {
    /* Style for the active dropdown link */
    background-color: #4caf50;
    color: white;
}

.modal-close {
    /* The Close Button */
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    /* The Modal (background) */
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal div {
    /* Modal Content */
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}